{% extends "tutorial/base.html" %}

{% block title %}Pixel Recursive Super Resolution{% endblock %}
{% block subtitle %}Recursive Enhance!{% endblock %}

{% block content %}
<img src="{{image_url}}" alt="Input image">

<!--{{ plot_div|safe }}

<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
{{ plot_script|safe }}-->

  
    <!-- <h1 class="py-1 m-0">3. View Results</h1>
      <p class="mb-5">Download the super resolved image or try another model.</a>
        <div class="border rounded p-5 mb-5">
        </div> -->



{% endblock %}