/* Custom stylesheet */
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}

.top-buffer {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

/* #myTabEx {
  background-color: #2dbcac;
}

#myTabEx li a {
  color: white;
} */

/* .nav-item a {
  background-color: #2dbcac;
} */

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: red;
}

.nav-pills .nva-link.active, .nav-pills .show>.nav-link {
  background-color: red;
}