{% extends "tutorial/base.html" %}
{% from "tutorial/repo.html" import render_repo with context %}

{% block title %}Super Resolution{% endblock %}
{% block subtitle %}Adding more pixels!{% endblock %}

{% block container %}
<h1 class="py-1 m-0">1. Choose an Image</h1>
<p class="mb-5">Choose an image that you would like to super resolve. Choose one of the images below, or upload your
  own.</a>

  <div class="border rounded p-5 mb-5">
    <!-- {% for item in items %}
      <img src="{{ url_for('static', filename=item)}}">
      {% endfor %} -->

    <div class="row">

      <div class="col-lg-12">
        <h3 class="page-header">Image Gallery</h3>
      </div>
      <hr>
      {% for item in items %}
      <div class="col-md-4 top-buffer">
        <!-- <a href='#'><img src="{{ url_for('static', filename=item) }}" /></a> -->
        <a href='#'><img src="{{ item }}" class="rounded img-fluid" /></a>
      </div>
      {% endfor %}
      <div class="wrapper">
        <label class="btn btn-default btn-file justify-content-center">
          Upload an Image <input type="file" style="display: none;">
        </label>
      </div>

    </div>
  </div>

  <h1 class="py-1 m-0">2. Select a model</h1>
  <p class="mb-5">Choose which super resolution model to use.</a>
    <div class="border rounded p-5 mb-5 text-center">

      <ul class="nav nav-pills" id="myTabEx" role="tablist" style="background-color: #2dbcac;">
        <li class="nav-item">
          <a class="nav-link active show" id="home-tab-ex" data-toggle="tab" href="#home-ex" role="tab"
            aria-controls="home-ex" aria-selected="true" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab-ex" data-toggle="tab" href="#profile-ex" role="tab"
            aria-controls="profile-ex" aria-selected="false" style="color: white;">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab-ex" data-toggle="tab" href="#contact-ex" role="tab"
            aria-controls="contact-ex" aria-selected="false" style="color: white;">Contact</a>
        </li>
      </ul>

      <div class="tab-content pt-5" id="myTabContentEx">
        <div class="tab-pane fade active show" id="home-ex" role="tabpanel" aria-labelledby="home-tab-ex">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
            retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
            placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile-ex" role="tabpanel" aria-labelledby="profile-tab-ex">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
            labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
            beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
            vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
            anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
            scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="contact-ex" role="tabpanel" aria-labelledby="contact-tab-ex">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
            fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
            skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
            gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork
            biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl
            craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
        </div>
      </div>
    </div>
    <!-- <h1 class="py-1 m-0">3. View Results</h1>
      <p class="mb-5">Download the super resolved image or try another model.</a>
        <div class="border rounded p-5 mb-5">
        </div> -->



    {% endblock %}